<div class="container mt-5">
    <div class="row text-center">
        <h1 class="mb-4">Effects</h1>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div routerLink="/hue-saturation" class="btn btn-primary col-12 btn-block p-2">
                <h5>Hue-Saturation</h5>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div routerLink="/brightness" class="btn btn-primary col-12 btn-block p-2">
                <h5>Brightness</h5>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div routerLink="/contrast" class="btn btn-primary col-12 btn-block p-2">
                <h5>Contrast</h5>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div routerLink="/flip" class="btn btn-primary col-12 btn-block p-2">
                <h5>Flip</h5>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div routerLink="/gaussian-blur" class="btn btn-primary col-12 btn-block p-2">
                <h5>Gaussian Blur</h5>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div routerLink="/grayscale" class="btn btn-primary col-12 btn-block p-2">
                <h5>Grayscale</h5>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div routerLink="/invert" class="btn btn-primary col-12 btn-block p-2">
                <h5>Invert</h5>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div routerLink="/rotation" class="btn btn-primary col-12 btn-block p-2">
                <h5>Rotation</h5>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div routerLink="/sepia" class="btn btn-primary col-12 btn-block p-2">
                <h5>Sepia</h5>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div routerLink="/sharpen" class="btn btn-primary col-12 btn-block p-2">
                <h5>Sharpen</h5>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div routerLink="/dominant-colour" class="btn btn-primary col-12 btn-block p-2">
                <h5>Dominant Colour</h5>
            </div>
        </div>
    </div>


</div>