.btn-toggle {
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
    background-color: #adadad;
    border-color: #adadad;
}

.btn-pressed {
    background-color: #495057;
    border-color: #495057;
}